/* Assuming the header height is 60px, adjust according to your actual header height */

/* Ensure the header is fixed at the top */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays on top of the content */
}

/* Apply padding to the top of the body or main content container to push it below the fixed header */
.container {
    padding-top: 5vw; /* Adjust this value based on the actual height of your header */
}

/* Responsive adjustment */
@media (max-width: 768px) {
    .container {
        padding-top: 100px; /* Adjust padding for mobile view if header height changes */
    }
}









/* Pagination Styles */
.pagination-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.pagination-list {
    list-style: none;
    display: flex;
    gap: 10px;
}

.pagination-item {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #007bff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.pagination-item a {
    color: #007bff;
    text-decoration: none;
}

.pagination-item a:hover {
    background-color: #007bff;
    color: #fff;
}

.pagination-item.disabled span {
    color: #6c757d;
    cursor: not-allowed;
}

.pagination-item.active span {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}
